<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum perspiciatis dolorem recusandae, eius, ratione esse, saepe modi vero praesentium cupiditate voluptas pariatur. Ratione ab est nam expedita, optio ducimus explicabo.</p>
    {{> footer}}
</body>
</html>